@media screen and (max-width: 576px) {
  .header-container header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-links {
    display: none;
  }

  .nav-hamburger-menu {
    display: block;
  }

  .banner {
    flex-direction: column;
  }

  .banner-info {
    width: 100%;
  }

  .banner-title {
    font-size: 4.2rem;
  }

  .s-font {
    font-size: 4rem;
  }

  .btn-secondary {
    padding: 10px 15px;
  }

  .btn-tertiary {
    padding: 10px 15px;
    border-radius: 42px;
  }

  .vid-button {
    top: 1%;
    left: 58%;
    padding: 12px 14px 12px 14px;
  }

  .lot-videos {
    font-size: 1.6rem;
  }

  .vid-tutorial {
    top: 42%;
    right: 43%;
    padding: 13px 6px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .tutorial-videos {
    font-size: 1rem;
  }

  .main-card {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .habit-title {
    font-size: 1rem;
  }

  .habit-description {
    font-size: 1.5rem;
  }

  .extra-mile {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .extra-mile-info {
    margin: 15px;
  }

  .extra-mile-title {
    font-size: 1rem;
  }

  .extra-mile-description {
    font-size: 0.7rem;
  }

  .run-img {
    width: 50%;
    margin: 15px;
  }

  .t-tile {
    font-size: 1.5rem;
  }

  .team-cards {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .team-card {
    width: 300px;
    height: 250px;
  }


  .team-card img {
    width: 100%;
  }

  .foot-section {
    flex-direction: column;
    margin-left: 20px;
    gap: 30px;
    margin-bottom: 72px;
  }

  .col-main {
    flex-direction: column;
    gap: 20px;
  }
}